{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">
        {% if query %}
            Results for "{{ query }}"
        {% else %}
            Top Products
        {% endif %}
    </h2>

    {% if message %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endif %}

    {% if welcomeMessage %}
    <div class="alert alert-success" role="alert">
        {{ welcomeMessage }}
    </div>
    {% endif %}

    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ producto.image }}" class="card-img-top" alt="{{ producto.title }}">
                <div class="card-body">
                    <h5 class="card-title" title="{{ producto.title }}">{{ producto.title }}</h5>
                    <div class="card-rating">
                        <strong>Rating:</strong>
                        <span class="stars" data-_id="{{producto._id}}">
                            Loading...
                        </span>
                        <span class="text-muted">({{ producto.rating.count }} votes)</span>
                    </div>
                    <p class="card-price">${{ producto.price }}</p>
                    <a href="/producto/{{ producto._id }}" class="btn">View Product</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
